body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #000000d2;
}

.container {
  width: 90%;
  max-width: 1400px;
  background-color: white;
  padding: 60px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

.carte-nom {
  font-size: 3rem;
  font-weight: bold;
  margin-bottom: 30px;
}

.content {
  display: flex;
}

.image-container {
  flex: 1;
  margin-right: 30px;
}

.image-container img {
  width: 100%;
  height: auto;
  border-radius: 10px;
}

.details-container {
  flex: 2;
}

.details-container ul {
  list-style: none;
  padding: 0;
}

.details-container li {
  margin-bottom: 20px;
  font-size: 1.5rem;
}