body {
  font-family: 'Arial', sans-serif;
  background-color: #000000d2;
  margin: 0;
  padding: 20px;
  height: 100vh;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.navigation {
  display: flex;
  justify-content: space-between;
}

#left-nav {
  display: flex;
  align-items: center;
}

#left-nav .liens {
  margin-left: 5%;
}

#nav-logo {
  width: 5rem;
  height: 5rem;
  margin-right: 20px;
}

.couleur_texte_entete {
  color: #ffffff;
  white-space: nowrap;
  text-align: center;
}

#nav-img {
  width: 4rem;
  height: 4rem;
}

.liens a {
  text-decoration: none;
}

.placement-jsp2, .placement-booster, .placement-mes-cartes, .placement-echanges {
  margin-left: 20px;
}

.image {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.contenu-cartes {
  padding: 15px;
  text-align: center;
}

.nom {
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 10px;
  margin-top: 0rem;
  color: #000000;
  
}

.info {
  display: flex;
  flex-direction: column;
  text-align: left;
  list-style: none;
  padding: 0;
  margin: 0 0 10px 0;
}

.info li {
  font-size: 1.rem;
  color: #866666;
  margin-bottom: 5px;
  font-weight: bold;
}


.favoris {
  position: absolute;
  top: 10px;
  right: 10px;
  margin-top:80%;
}

.favoris-button {
  background-color: #e74c3c;
  color: white;
  border: none;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  font-size: 1.2rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.favoris-button:hover {
  background-color: #4e403f;
}

.alignement-cartes2, .alignement-cartes3, .alignement-cartes4 {
  display: flex;
  justify-content: center;
}

.alignement-cartes3 {
  margin-left: 7%;
}

.alignement-cartes4 {
  margin-left: -1%;
}

.alignement-cartes4:hover {
  transform: scale(1.05);
}

.titre {
  font-family: 'Arial', sans-serif;
  margin-top: 10%;
  margin-bottom: 5%;
  color: #c23131;
}

.alignement-fav {
  display: flex;
  justify-content: space-between;
}

.texte-retour-haut a {
  text-decoration: none;
  color: #000000;
}

.background-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 90%;
  object-fit: cover;
  z-index: -1;
}

hr {
  border: none;
  border-top: 3px double #333;
  color: #333;
  overflow: visible;
  text-align: center;
  height: 5px;
}

hr::after {
  background: #fff;
  padding: 0 4px;
  position: relative;
  top: -13px;
}

.boutton-4 > button {
  font-size: 1rem;
  color: #fff;
  background-color: #007bff;
  border: none;
  cursor: pointer;
  width: 120%;
  height: 100%;
  border-radius: 5px;
  margin-top: 20%;
}

.boutton-5 > button {
  font-size: 1rem;
  color: #fff;
  background: none;
  border-color: white;
  cursor: pointer;
  width: 170%;
  height: 100%;
  border-radius: 4px;
  margin-left: 40%;
  margin-top: 25%;
}

.barre {
  margin-top: 0.3rem;
}

.placement-utilisateur {
  margin-right: 2rem;
}

.cartes:hover {
  transform: translateY(-10px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.alignement-favoris {
  margin: 20px auto;
  padding: 10px;
  border: 2px solid #f4d03f;
  border-radius: 10px;
  background-color: #fef5e7;
}

.alignement-favoris h2 {
  text-align: center;
  font-size: 1.5rem;
  color: #7d3c98;
  margin-bottom: 10px;
}

.favoris-cartes {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
}

.favoris-cartes .cartes {
  width: 200px;
  border: 2px solid #7d3c98;
  border-radius: 8px;
  overflow: hidden;
  background-color: #fff;
}

.favoris-cartes .cartes img {
  width: 100%;
  height: auto;
}

.favoris-cartes .contenu-cartes {
  padding: 10px;
  text-align: center;
}

.favoris-button {
  display: inline-block;
  margin-top: 10px;
  background-color: #f4d03f;
  border: none;
  color: white;
  padding: 5px 10px;
  font-size: 1rem;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.favoris-button:hover {
  background-color: #e67e22;
}

/* Style général pour le conteneur de cartes */
#cartes-container {
  display: flex;
  flex-direction: column; /* Affiche les maisons en colonne */
  align-items: center; /* Centre les éléments horizontalement */
}

/* Style pour chaque maison */
.maison {
  width: 100%; /* Prend toute la largeur disponible */
  margin-bottom: 5rem; /* Espacement entre les maisons */
  text-align: center; /* Centre le titre de la maison */
}

/* Style pour le titre de la maison */
.titre-maison {
  color: #000000;
  font-weight: 900;

}

.cartes-container {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
}

.cartes {
  width: 200px;
  margin: 10px;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.titre-maison {
  text-align: center;
  font-size: 24px;
  margin-bottom: 15px;
}



.text {
  font-size: 3rem;
  color: #000000;
  margin-bottom: 5rem;
  margin-top: 0rem;
}


.cartes img {
  width: 100%;
  height: 60%;
  border-radius: 0.8rem;
}


.cartes {
  transition: opacity 0.3s ease, transform 0.3s ease;
}

.cartes[style*="display: none"] {
  opacity: 0;
  transform: scale(0.9);
}


#resetButton {
  background-color: #c09898; 
  color: white;
  border: none; 
  padding: 14px 20px; 
  font-size: 16px; 
  cursor: pointer; 
  border-radius: 8px; 
  transition: background-color 0.3s ease, transform 0.2s ease;
  margin-bottom: 3rem;
  text-decoration: none;
}

#resetButton:hover {
  background-color: #a77979;
}

#resetButton:active {
  transform: scale(1); 
}

a {
  text-decoration: none;
  color: #000000;
}


.filtres {
  display: flex;
  justify-content: end;
  margin-right: 3rem;
  gap: 20px;
  margin-bottom: 20px;
  font-family: 'Arial', sans-serif;
  font-size: 1.3rem;
  margin: 20, 0, 0, 0;
}

.filtres label {
  font-weight: bold;
  color: #0c0909;
  
}

#maison-select {
width:10%;
font-size: 16px;
border: 2px solid #000000;
border-radius: 8px;
color: #333;
cursor: pointer;
transition: border-color 0.3s, background-color 0.9s;
background-color: #eedbdb;
}

body, html {
  height: 100%;
  margin: 0;
  padding: 0;
}

.footer {
  background-color: #1a1a1a;
  color: #f5deb3;
  font-family: 'Times New Roman', serif;
  padding: 20px;
  text-align: center;
  width: 100%; 
  box-sizing: border-box; 
}

.footer-logo {
  width: 100px;
}
.footer-slogan {
  font-size: 18px;
  font-style: italic;
}
.footer-navigation {
  margin-bottom: 20px;
}
.footer-link {
  color: #f5deb3;
  margin: 0 15px;
  text-decoration: none;
}
.footer-quote {
  margin: 20px auto;
  font-style: italic;
  color: #d4af37;
}
.footer-social {
  margin-bottom: 20px;
}
.social-link {
  margin: 0 10px;
}
.social-icon {
  width: 30px;
}
.footer-legal {
  font-size: 14px;
  color: #a9a9a9;
  margin-top: 20px;
}
.legal-link {
  color: #a9a9a9;
  text-decoration: none;
}



 /* sidebar */

.hamburger {
  font-size: 30px;
  background: none;
  border: none;
  color: #ffffff;
  cursor: pointer;
  position: fixed;
  top: 20px;
  left: 20px;
  z-index: 1000;
}

.sidebar {
  width: 250px;
  height: 100vh;
  background-color: #333;
  color: #fff;
  padding: 20px;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
  position: fixed;
  top: 0;
  left: 0;
  transform: translateX(-100%);
  transition: transform 0.3s;
}

.sidebar.active {
  transform: translateX(0);
}

.close-btn {
  font-size: 20px;
  background: none;
  border: none;
  color: #fff;
  cursor: pointer;
  position: absolute;
  top: 20px;
  right: 20px;
  display: none;
}

.sidebar h2 {
  text-transform: uppercase;
  font-size: 20px;
  margin-bottom: 20px;
}

.sidebar ul {
  list-style-type: none;
  padding: 0;
}

.sidebar ul li {
  margin: 15px 0;
}

.sidebar ul li a {
  color: #fff;
  text-decoration: none;
  font-size: 16px;
}

.sidebar ul li a:hover {
  text-decoration: underline;
}

.sidebar.active .close-btn {
  display: block;
}

.sidebar.active ~ .hamburger {
  display: none;
}

h2 {
  margin-top: 4rem;
}

.text {
  margin-top: 5rem;
}


/* barre de recherche */




.search-container {
  display: flex;
  justify-content: center;
  margin: 20px 0;
}

#searchInput {
  padding: 10px;
  font-size: 1rem;
  width: 300px;
  border: 1px solid #ccc;
  border-radius: 5px
}

#searchButton {
  padding: 10px 20px;
  font-size: 1rem;
  margin-left: 10px;
  border: none;
  background-color: #007bff;
  color: white;
  border-radius: 5px;
  cursor: pointer;
}

#searchButton:hover, #resetButton:hover {
  background-color: #0056b3;
}


#placement-reset-button {
  background-color: #007bff; 
  color: white;
  border: none; 
  padding: 10px 20px; 
  font-size: 1rem; 
  cursor: pointer; 
  border-radius: 5px; 
  transition: background-color 0.3s ease, transform 0.2s ease;
  text-decoration: none;
  margin-left: 63%;
  margin-top: -3.75rem;
}